.idea/
DesafioExtra/bin/
DesafioExtra/obj/
Ejercicio1/bin/
Ejercicio1/obj/
Ejercicio2/bin/
Ejercicio2/obj/
Ejercicio3/bin/
Ejercicio3/obj/
Ejercicio4/bin/
Ejercicio4/obj/
Ejercicio5/bin/
Ejercicio5/obj/
Ejercicio6/bin/
Ejercicio6/obj/
Ejercicio7/bin/
Ejercicio7/obj/
